<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Portfólio Larissa</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="Logo"><img/><span>Larissa</span></div>
            <div class="nav-buttons">
                <ul>
                    <li class="nav-item active"><a>Home</a></li>
                    <li class="nav-item"><a>Projetos</a></li>
                    <li class="nav-item"><a>Informações</a></li>
                    <li class="nav-item"><a>Experiência de Trabalho</a></li>
                    <li class="nav-item"><a>Contato</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="wrapper">
        <div id="home" class="profile">
            <div class="profile-banner">
            </div>
            <div class="profile-info">
                <h1>Olá</h1>
                <h2>Eu sou Larissa Filheiro</h2>
                <h3>Arquiteta</h3>
                <p>
                    Estou no ramo a -- anos e procuro por um emprego na área
                </p>
            </div>
        </div>
        <div id="projects" class="projects">
            <div class="tittle-projects">
                <h2>Projetos Principais</h2>
            </div>
            <div class="main-projects">                
                <div class="card">
                    <div class="card-img"><img src="../imgs/project1.jpg"></div>
                    <hr>
                    <div class="card-info">
                        <h2 class="project-tittle">Interior Casa</h2>
                        <span>Projeto de interior de uma casa no centro de Canoas</span>
                        <a class="btn-project">Veja Mais</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img"><img src="../imgs/project1.jpg"></div>
                    <hr>
                    <div class="card-info">
                        <h2 class="project-tittle">Interior Casa</h2>
                        <span>Projeto de interior de uma casa no centro de Canoas</span>
                        <a class="btn-project">Veja Mais</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img"><img src="../imgs/project1.jpg"></div>
                    <hr>
                    <div class="card-info">
                        <h2 class="project-tittle">Casa Moderna</h2>
                        <span>Projeto de interior de uma casa no centro de Canoas</span>
                        <a class="btn-project">Veja Mais</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="tittle-projects">
                <h2>Outros Projetos</h2>
            </div>
            <div class="others-projects">
                <div class="card">
                    <div class="card-img"><img src="../imgs/project2.jpg"></div>
                    <div class="card-info">
                        <h2 class="project-tittle">Casa Moderna</h2>
                        <span>Projeto de interior de uma casa no centro de Canoas</span>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img"><img src="../imgs/project2.jpg"></div>
                    <div class="card-info">
                        <h2 class="project-tittle">Casa Moderna</h2>
                        <span>Projeto de interior de uma casa no centro de Canoas</span>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img"><img src="../imgs/project2.jpg"></div>
                    <div class="card-info">
                        <h2 class="project-tittle">Casa Moderna</h2>
                        <span>Projeto de interior de uma casa no centro de Canoas</span>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img"><img src="../imgs/project2.jpg"></div>
                    <div class="card-info">
                        <h2 class="project-tittle">Casa Moderna</h2>
                        <span>Projeto de interior de uma casa no centro de Canoas</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="info" class="skills">
            <div class="skills-info">
                <span class="section-tittle"><h2>Habilidades</h2></span>
                <ul>
                    <li>Comunicação</li>
                    <li>Pensamento rápido</li>
                    <li>Resolução de Problemas</li>
                    <li>Liderança</li>
                </ul>
            </div>
            <div class="idioms-info">
                <span class="section-tittle"><h2>Idiomas</h2></span>
                <ul>
                    <li>Inglês Intermediário</li>
                    <li>Português Brasileiro Nativo</li>
                </ul>
            </div>
            <div class="education-info">
                <span class="section-tittle"><h2>Educação</h2></span>
                <ul>
                    <li>
                        <div class="tittle"><span>Arquitetura e Urbanismo</span></div>
                        <div class="institution"><span>Unilasalle</span></div>
                        <span class="date">Março 2018 - Setembro 2024</span>
                    </li>
                    <li>
                        <div class="tittle"><span>Ensino Médio</span></div>
                        <div class="institution"><span>Ipuc</span></div>
                        <span class="date">Dezembro 2018</span>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="divider">
        <div class="work-experience">
            <div class="work-content">
                <div class="section-tittle"><h2>Experiência de Trabalho</h2></div>
                <div class="work-itens">
                    <ul>
                        <li>
                            <div class="tittle"><span>Engenharia NSR</span></div>
                            <div class="role"><span>Estagiária</span></div>
                            <div class="date"><span>Março 2020 - Fevereiro 2021</span></div>
                        </li>
                        <li>
                            <div class="tittle"><span>Loja de Design Interiores</span></div>
                            <div class="role"><span>Estagiária</span></div>
                            <div class="date"><span>Março 2019 - Fevereiro 2020</span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="contacts">
            <div class="contacts-content">
                <div class="section-tittle"><h2>Contato</h2></div>
                <div class="contact-itens">
                    <ul>
                        <li>
                            <div class="item-icon"><img src="../imgs/icons/whatsapp.png"></div>
                            <div class="item-content"><span>+55 51 8282-6430</span></div>
                        </li>
                        <li>
                            <div class="item-icon"><img src="../imgs/icons/telephone.png"></div>
                            <div class="item-content"><span>+55 51 8282-6430</span></div>
                        </li>
                        <li>
                            <div class="item-icon"><img src="../imgs/icons/e-mail.png"></div>
                            <div class="item-content"><span>larissa.filheiro@gmail.com</span></div>
                        </li>
                        <li>
                            <div class="item-icon"><img src="../imgs/icons/instagram.png"></div>
                            <div class="item-content"><span>@lariprojetos</span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="creator">Criado por <span>Guilherme Filheiro</span></div>
        <div class="creator-contact">
            <ul>
                <li>
                    <div class="item-icon"><i class="fa-regular fa-envelope" style="color: white;"></i></div>
                    <div class="item-content"><span>guilhermefilheiro@gmail.com</span></div>
                </li>
                <li>
                    <div class="item-icon"><i class="fa-brands fa-whatsapp" style="color: white;"></i></div>
                    <div class="item-content"><span>+55 51 9 8333-8114</span></div>
                </li>
                <li>
                    <div class="item-icon"><i class="fa-brands fa-github" style="color: white;"></i></div>
                    <div class="item-content"><a href="https://github.com/Guilherme-S-S-F">Guilherme-S-S-F</a></div>
                </li>
                <li>
                    <div class="item-icon"><i class="fa-brands fa-linkedin" style="color: white;"></i></div>
                    <div class="item-content"><a href="https://www.linkedin.com/in/guilherme-filheiro-7269b3234?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">Guilherme Filheiro</a></div>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>